// Colors
$dark: #2F2F2F;
$light: #FEFCFA; //#FEF5EF;
$neutral: #BDDBD0;
$primary: #375435; //#84B082;
$secondary:  #353754; //#6B456D; //#91A6FF;
$alert: #E3B23C;
$danger: #F6511D;

// Containers
$classic-ctn: 1200px;
$medium-ctn: 800px;
$small-ctn: 400px;

// Breakpoints
$bp-xs: 400px;
$bp-s: 650px;
$bp-m: 760px;
$bp-l: 1024px;
$bp-xl: 1400px;

// Font sizes
$txt-xs: 0.85rem;
$txt-s: 1rem;
$txt-m: 1.2rem;
$txt-l: 1.5rem;
$txt-xl: 2rem;
$txt-xxl: 3rem;
$txt-xxxl: 5rem;

// Spacing
$space-xs: 4px;
$space-s: 8px;
$space-m: 16px;
$space-l: 24px;
$space-xl: 40px;
$space-xxl: 64px;
$space-xxxl: 104px;

// Radius
$radius-xs: 2px;
$radius-s: 4px;
$radius-m: 8px;
$radius-l: 16px;
$radius-xl: 24px;
$radius-xxl: 40px;
$radius-circle: 50%;